@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Secular One', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footerBox {
  padding-top: 2vh;
  padding-bottom: 2vh; 
  background-color: #14110F;
  color: white; 
  text-align: center;
}


